.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# /dist can be gitignored when npm installed (as covered by package.json's `files` array)
# but should NOT be gitignored when git+ssh installed.
# /dist 
